body {
    text-align: center;
}

h1 {
    background-color: blue;
    border: 1px solid #000;
    margin: auto;
    width: 33vw;
    font-size: 300%;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.8);
}

/* quiz background */
.quiz-area {
    border: 1px solid #000;
    background-color: aqua;
    margin: auto;
    width: 33vw;
}

/* class for div around buttons div */
.options {
    
}

/* class for buttons div */
.buttons {
    padding: 10px;
}

/* class for buttons*/
.btn {
    width: 90%;
    height: 25px;
    margin: 5px auto;
}

.score {
    margin: -5px auto;
}

/* different screen sizes */
@media (max-width: 950px) {
    h1 {
        width: 50vw;
        font-size: 250%;
    }
    .quiz-area {
        width: 50vw;
    }
}

@media (max-width: 500px) {
    h1 {
        width: 70vw;
    }
    .quiz-area {
        width: 70vw ;
    }
}

@media (max-width: 300px) {
    h1 {
        width: 80vw;
        font-size: 175%;
    }
    .quiz-area {
        width: 80vw ;
    }
}

@media (max-width: 250px) {
    h1 {
        width: 90vw;
    }
    .quiz-area {
        width: 90vw ;
    }
    .btn {
        font-size: 80%;
    }
    p {
        font-size: 80%;
    }
    .buttons {
        padding: 0px;
    }
}

@media (max-width: 200px) {
    h1 {
        width: 90vw;
        font-size: 150%;
    }
    .quiz-area {
        width: 90vw ;
    }
    .btn {
        font-size: 60%;
    }
    p {
        font-size: 60%;
    }
}
